.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: linear-gradient(135deg, #2c5364, #203a43, #0f2027);
  font-family: "Poppins", sans-serif;
}

.auth-box {
  background: rgba(255, 255, 255, 0.12);
  padding: 40px 35px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.auth-title {
  margin-bottom: 25px;
  font-size: 24px;
  color: #d4cccc;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  color: #cac7c7;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.auth-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.auth-btn:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 15px;
  font-size: 14px;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}

.redirect-text {
  margin-top: 20px;
  color: #c0bdbd;
  font-size: 14px;
}

.redirect-text a {
  color: #007bff;
  text-decoration: none;
}

.redirect-text a:hover {
  text-decoration: underline;
}
